<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>查看收费科目</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/layout.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/table-common.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/ui/add.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/pages/baobiao/moban.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/pages/baobiao/chakan-shoufei.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/plugins/jquery-ui/css/ui.css">
    <script src="../static/js/lib/lib.js"></script>
    <script src="../static/plugins/jquery-ui/js/ui.js"></script>
    <base target="_self"/>
</head>
<body>
#set($user=$session.getAttribute("USERS")) 
<div class="doc" id="doc">
    <!--toolbar start-->
    <div class="topbar" id="topbar">
        <div class="layout">
            <div class="grid">
                <div class="mod-toolbar">
                    <p>你好！<span class="user-name">${user.userName}</span>#if (${user.messageSize}>0)<a href="/user/user-message.do"><span class="clock">${user.messageSize}</span></a>&nbsp;&nbsp;#end<a href="/user/user-password.do" target="_self" class="login">修改密码</a>&nbsp;&nbsp;<a href="/user/user-logout.do" target="_self" class="login" onclick="return confirm('确定要退出系统吗')">退出</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--toolbar end-->
    <!--logo-->
    <div class="header" id="header">
        <div class="layout">
            <div class="grid">
                <div class="mod-masthead">
                    <a href="/index.do"><img src="../static/img/logo.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <!--logo end-->
    <div class="content" id="content">
        <div class="layout">
            <div class="grid">
                <!--右侧内容开始-->
                <div class="col-main">
                    <div class="col-main-wrap">
                        <div class="mod-moban  ui-form">
                            <div class="header">
                                <span>项目收费配置</span><span class="gt">&gt;</span><span>查看收费科目</span>
                            </div>
                             <div class="content">
                                <div class="content-line">公 式<span></span></div>
                                <div class="field clearfix">
                                    <div class="v gongshi">
										<p class="txt">${subject.getShowSubjcetFormulaTxt()}</p>
                                    </div>
                                </div>
                                <div class="dashed-line"></div>
                                <div class="content-line">字段取值规则<span></span></div>
								#foreach($fieldType in $fieldTypes)
									<div class="field clearfix">
                                        <div class="name">字段名称：</div>
                                        <div class="v">
                                             <p class="txt">${fieldType.fieldDesc}</p>
                                        </div>
									</div>
									<div class="field clearfix">
                                        <div class="name">字段取值规则：</div>
                                        <div class="v">
                                             <p class="txt">#if(${fieldType.fieldType}==1) 系统默认规则 #else 自定义取值规则 #end</p>
                                        </div>
									</div>
									#if(${fieldType.fieldType}==2)
									<div class="field clearfix">
										<div class="info">取值规则: </div>
										#foreach ($fieldValue in ${fieldType.fields})
											<div class="info">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当【${fieldValue.fieldDesc}】【${fieldValue.getCompareString()}】【${fieldValue.value}】时，则纳入【${fieldType.fieldDesc}】</div>
										#end
                                    </div>
									#end
									<div class="dashed-line"></div>
								#end
                                
								
                               
                                <div class="content-line">单价<span></span></div>
								#foreach($priceType in $priceTypes)
    								<div class="field clearfix">
                                        <div class="name">单价类型：</div>
                                        <div class="v">
                                            <p class="txt">#if(${priceType.priceType}==1)阶梯单价#else 标准单价 #end</p>
                                        </div>
                                    </div>
    								#if(${priceType.priceType}==1)
    									<div class="field clearfix">
                                            <div class="name">基数字段：</div>
                                            <div class="v">
                                                <p class="txt">${priceType.fieldDesc}</p>
                                            </div>
                                        </div>
    									<div class="field clearfix">
                                            <div class="name">时间周期：</div>
                                            <div class="v">
                                                <p class="txt">#if(${priceType.priceUnit}==1)周#elseif(${priceType.priceUnit}==2)日#else  月 #end</p>
                                            </div>
                                        </div>
    									<div class="field clearfix">
                                            <div class="name">调价方式：</div>
                                            <div class="v">
                                                <p class="txt">#if(${priceType.standardPrice}==1.0)金额#else  折扣#end</p>
                                            </div>
                                        </div>
    									#if(${priceType.standardPrice}==1.0)
											<div class="table-box">
                                                <div class="table-header">
                                                    <ul class="selectors ms-yh">
                                                        <li class="current" style="margin-left:220px;"><a >阶梯单价</a></li>
                                                    </ul>
                                                </div>
                                                <table class="table-content">
                                                    <tr>
                                                        <th style="width:20px;">下限&lt;</th>
                                                        <th style="width:200px;">基数字段</th>
                                                        <th style="width:100px;">上线≤</th>
                                                        <th style="width:20px;">单价(元)</th>
                                                    </tr>
													#foreach($price in ${priceType.prices})
														<tr>
                                                            <td>${price.getMinString()}</td>
                                                            <td>${priceType.fieldDesc}</td>
                                                            <td>${price.getMaxString()}</td>
                                                            <td>${price.value}</td>
                                                        </tr>
													#end                                             
                                                </table>
                                            </div>
    									#else
    										<div class="field clearfix">
                                                <div class="name">基准单价：</div>
                                                <div class="v">
                                                    <p class="txt">${priceType.getStandardPriceInfo()}</p>
                                                </div>
                                            </div>
											<div class="table-box">
                                                <div class="table-header">
                                                    <ul class="selectors ms-yh">
                                                        <li class="current" style="margin-left:220px;"><a >阶梯单价</a></li>
                                                    </ul>
                                                </div>
                                                <table class="table-content">
                                                    <tr>
                                                        <th style="width:20px;">下限&lt;</th>
                                                        <th style="width:200px;">基数字段</th>
                                                        <th style="width:100px;">上线≤</th>
                                                        <th style="width:20px;">折扣(%)</th>
                                                    </tr>
													#foreach($price in ${priceType.prices})
														<tr>
                                                            <td>${price.getMinString()}</td>
                                                            <td>${priceType.fieldDesc}</td>
                                                            <td>${price.getMaxString()}</td>
                                                            <td>${price.value}</td>
                                                        </tr>
													#end                                             
                                                </table>
                                            </div>
    									#end
									#else
    									<div class="field clearfix">
                                            <div class="name">金额：</div>
                                            <div class="v">
                                                <p class="txt">${priceType.standardPrice}</p>
                                            </div>
                                        </div>
									#end
									<div class="field clearfix">
                                    <div class="name">单价有效期：</div>
                                        <div class="v">
    										<p class="txt">${priceType.startDate}&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;${priceType.endDate}</p>
                                        </div>
                                    </div>
									<div class="dashed-line"></div>
								#end

                               
                                
                                
                                <div class="content-line">最低收费标准<span></span></div>
								#foreach ($minPrice in $minPrices)
									<div class="field clearfix">
                                        <div class="name">收费标准：</div>
                                        <div class="v">
											<p class="txt">#if(${minPrice.priceType}==1)最低金额消费 #elseif(${minPrice.priceType}==2) 最少数量消费 #else 不需要最低收费标准 #end</p>
                                        </div>
                                    </div>
									#if(${minPrice.priceType}==2)
										<div class="field clearfix">
                                            <div class="name">最少收费标准字段：</div>
                                            <div class="v">
    											<p class="txt">${minPrice.fieldDesc}</p>
                                            </div>
                                        </div>
									#end
									#if (${minPrice.priceType}!=3)
										<div class="field clearfix">
                                            <div class="name">收费金额：</div>
                                            <div class="v">
                                                <p class="txt">${minPrice.standardPrice}</p>
                                            </div>
                                        </div>
									#end
									<div class="field clearfix">
                                    <div class="name">单价有效期：</div>
                                        <div class="v">
    										<p class="txt">${minPrice.startDate}&nbsp;&nbsp;&nbsp;&nbsp;至&nbsp;&nbsp;&nbsp;&nbsp;${minPrice.endDate}</p>
                                        </div>
                                    </div>
									<div class="dashed-line"></div>
								#end
                                <div class="action" style="margin-bottom:10px;margin-left:25%;">
                                    <button type="reset" class="btn" onclick="javascript:window.history.go(-1);">返回</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--右侧内容结束-->
                <!--左侧内容开始-->
               <div class="col-sub">
                    <div class="mod-menu">
                        <div class="header">
                            <h2>优库结算系统</h2>
                        </div>
                        <div class="content">
                            <dl class="menu-item">
								#if(${user.getUserPrivliages().contains(1)})
                                <dd class="menu-item menu-nodes">
                                    <a href="" class="node">优库结算账单</a>
                                    <ul class="">
                                        <li><a href="/bill/bill-index.do" class="node">结算账单管理</a></li>
                                        <li><a href="/bill/bill-add-index.do" class="node">添加账单生成任务</a></li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(2)})
                                <dd class="menu-item menu-nodes">
                                    <a href="#" class="node">优库结算报表</a>
                                    <ul class="">
                                        <li >
                                            <a href="/report/report-index.do" class="node">报表管理</a>
                                        </li>
										<li>
                                            <a href="/report/report-add-view.do" class="node">新添报表</a>
                                        </li>
										<li>
                                            <a href="/report-detail/report-detail-index.do" class="node">报表进度管理</a>
                                        </li>
                                        <li >
                                            <a href="/report-detail/report-detail-add-index.do" class="node">添加报表生成任务</a>
										</li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(3)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">优库数据记录</a>
                                    <ul>
                                        <li>
                                            <a href="/fieldwarm/field-warm-enable-manage-index.do" class="node">数据记录管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(4)})
                                <dd class="menu-nodes fold current">
                                    <a href="#" class="node">项目收费配置</a>
                                    <ul class="mt-menu-sub-content">
                                        <li class="current">
                                            <a href="/project/project-subject-index.do" class="node">项目收费配置管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(5)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">优库收费科目</a>
                                    <ul>
                                        <li>
                                            <a href="/subject/subject-index.do" class="node">收费科目管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(6)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">优库字段管理</a>
                                    <ul>
                                        <li><a href="/field/field-index.do" class="node">字段管理</a></li>
                                        <li>
                                            <a href="/fieldwarm/field-warm-index.do" class="node" >提醒管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(7)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">系统管理功能</a>
                                    <ul>
                                        <li >
                                            <a href="/user/user-index.do" class="node">用户管理</a>
                                        </li>
                                        <li >
                                            <a href="/role/role-index.do" class="node" >角色管理</a>
                                        </li>
                                        <li >
                                            <a href="/project/project-index.do" class="node" >项目管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
                            </dl>
                        </div>
                    </div>
                </div>
                <!--左侧菜单结束-->
            </div>
        </div>
    </div>
    <!--footer start-->
    <div class="footer clearfix" id="footer">
        <div class="layout">
            <div class="grid">
                <div class="mod-footer">
                    <div class="content">
                        <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->
</div>
<script src="../static/js/pages/menu.js"></script>
<script src="../static/js/pages/baobiao/datepicker.js"></script>
</body>
</html>