<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>修改密码</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/ui/add.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/pages/update-password.css">
    <script src="../static/js/lib/lib.js"></script>
    <base target="_self"/>
</head>
<body>
	#set($user=$session.getAttribute("USERS"))
     <div class="doc" id="doc">
         <div class="topbar" id="topbar">
             <div class="layout">
                 <div class="grid">
                     <div class="mod-toolbar">
                         <p>你好！<span class="user-name">${user.userName}</span>#if (${user.messageSize}>0)<a href="/user/user-message.do"><span class="clock">${user.messageSize}</span></a>&nbsp;&nbsp;#end<a href="/user/user-password.do" target="_self" class="login">修改密码</a>&nbsp;&nbsp;<a href="/user/user-logout.do" target="_self" class="login" onclick="return confirm('确定要退出系统吗')">退出</a></p>
                     </div>
                 </div>
             </div>
         </div>
         <div class="header" id="header">
             <div class="layout">
                 <div class="grid">
                     <div class="mod-masthead">
                         <a href="/index.do"><img src="../static/img/logo.png" /></a>
                     </div>
                 </div>
             </div>
         </div>
          <div class="content" id="content">
               <div class="layout layout-banner">
                   <div class="grid">
                       <div class="mod-update-password ui-form">
                           <div class="wrap">
                               <form action="/user/user-modify-password.do" method="post" target="_self" id="pwd-form" >
                                   <div class="field clearfix">
                                       <div class="name">旧密码：</div>
                                       <div class="v">
                                           <div class="inline">
                                               <input type="password" class="ui-input" placeholder="输入旧密码" id="old-pwd" name="old-pwd"/>
                                           </div>
                                           <div class="inline l txt">
                                               请输入不少于6个字符
                                           </div>
                                       </div>
                                   </div>
                                   <div class="field clearfix">
                                       <div class="name">新密码：</div>
                                       <div class="v">
                                           <div class="inline">
                                               <input type="password" class="ui-input" placeholder="输入新密码" id="new-pwd" name="new-pwd"/>
                                           </div>
                                           <div class="inline l txt">

                                           </div>
                                       </div>
                                   </div>
                                   <div class="field clearfix">
                                       <div class="name">确认新密码：</div>
                                       <div class="v">
                                           <div class="inline">
                                               <input type="password" class="ui-input" placeholder="确认新密码" id="new-pwd-2" name="new-pwd-2"/>
                                           </div>
                                           <div class="inline l txt">

                                           </div>
                                       </div>
                                   </div>
                                   <div class="action">
                                       <button type="submit" class="btn btn-primary">确定</button>
                                       <button type="reset" class="btn">取消</button>
                                   </div>
                               </form>
                           </div>
                       </div>
					   
                   </div>
               </div>



          </div>

          <div class="footer clearfix" id="footer">
                <div class="layout">
                    <div class="grid">
                        <div class="mod-footer">
                            <div class="content">
                                <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
		  #if (!${error})
    			#if (${modifyStatus})
    				<script type="text/javascript" >
    					alert("密码修改成功");
    				</script>
    			#end
    		#else
    			<script type="text/javascript" >
    					alert("密码验证出错，请重新输入");
    			</script>
    		#end

     </div>
    <script src="../static/js/pages/update-password.js"></script>
</body>
</html>