<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>账单总览</title>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/lib/lib.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/topbar.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/header.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/footer.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/layout.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/table-common.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/module/mod-dialog.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/pages/baobiao/moban.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/pages/baobiao/manager.css">
    <link type="text/css" rel="stylesheet" media="all" href="../static/css/pages/baobiao/zhangdan-zonglan.css">
    <script src="../static/js/lib/lib.js"></script>
    <base target="_self"/>
</head>
<body>
#set($user=$session.getAttribute("USERS"))
<div class="doc" id="doc">
    <!--toolbar start-->
    <div class="topbar" id="topbar">
        <div class="layout">
            <div class="grid">
                <div class="mod-toolbar">
                    <p>你好！<span class="user-name">${user.userName}</span>#if (${user.messageSize}>0)<a href="/user/user-message.do"><span class="clock">${user.messageSize}</span></a>&nbsp;&nbsp;#end<a href="/user/user-password.do" target="_self" class="login">修改密码</a>&nbsp;&nbsp;<a href="/user/user-logout.do" target="_self" class="login" onclick="return confirm('确定要退出系统吗')">退出</a></p>
                </div>
            </div>
        </div>
    </div>
    <!--toolbar end-->
    <!--logo-->
    <div class="header" id="header">
        <div class="layout">
            <div class="grid">
                <div class="mod-masthead">
                    <a href="/index.do"><img src="../static/img/logo.png" /></a>
                </div>
            </div>
        </div>
    </div>
    <!--logo end-->
    <div class="content" id="content">
        <div class="layout">
            <div class="grid">
                <!--右侧内容开始-->
                <div class="col-main">
                    <div class="col-main-wrap">
                        <div class="mod-moban">
                            <div class="header">
                                【项目名称】【账单周期年月】对账单
                            </div>
                            <div class="table-box">
                                <div class="table-header">
                                    ${bill.billName} &nbsp;&nbsp;本月账单汇总信息
                                </div>
                                <table class="table-content" style="width:560px;">
                                    <tr>
                                        <td>账单周期</td>
                                        <td>${bill.getFormatStartDate()}-${bill.getFormatEndDate()}</td>
                                    </tr>
									<tr>
                                        <td>账单归属日期</td>
                                        <td>${bill.billBelongTime}</td>
                                    </tr>
                                    <tr>
                                        <td>Bill Amoun账单金额</td>
                                        <td>&yen;${bill.getShowAmount()}</td>
                                    </tr>
                                    <tr>
                                        <td>Date 出具日期</td>
                                        <td>${bill.getFormatSubmitDate()}</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="header">
                                优库费用
                            </div>
                            <div class="table-box">
                                <table class="table-content">
                                    <tr>
                                        <th style="width:10%">结算项目</th>
                                        <th style="width:40%">公式</th>
                                        <th style="width:15%">金额</th>
										<th style="width:25%">明细</th>
										#if(${bill.billStatus}!=3)
                                        <th style="width:10%">操作</th>
										#end
                                    </tr>
									#foreach ($billDetail in $billDetails)
										<tr>
                                            <td>${billDetail.billSubjectName}</td>
                                            
                                            <td>${billDetail.getShowSubjcetFormulaTxt()}</td>
                                            <td>${billDetail.getShowAmount()}</td>
											<td>
												#foreach($detailFile in $billDetail.getAllBillFieldFiles())
													<a href="/json${detailFile.filePath}">${detailFile.fileName}明细</a><br />
												#end
											</td>
											#if(${bill.billStatus}!=3)
                                            <td class="operation">
												#if(${bill.billStatus}==1)
                                                <span class="edit"><a href="/bill/bill-detail-update-view.do?billDetailId=${billDetail.billDetailId}&billDetailSum=${billDetail.billDetailSum}&billId=${bill.billId}" >编辑</a></span>
												&nbsp;#end
												#if(${bill.billStatus}!=3)
                                                <span class="delete"><a href="/bill/bill-detail-delete.do?billDetailId=${billDetail.billDetailId}&billDetailSum=${billDetail.billDetailSum}&billId=${bill.billId}" onclick="return confirm('删除后无法恢复,确定要删除吗')">删除</a></span>
												#end
                                            </td>
											#end
                                        </tr>
									#end
                                </table>
                            </div>
                            <div class="mod-options">
                                <!--<span><a href="#">新增一次性收费科目</a></span>-->
								#if(${bill.billStatus}==3)
                                <!--<span><a href="#">导出Excel</a></span>-->
								#end
								#if(${bill.billStatus}==2)
                                <span><a href="/bill/bill-update-status-reset-submit.do?billId=${bill.billId}">撤销账单</a></span>
								#end
								#if(${bill.billStatus}==1)
                                <span><a href="/bill/bill-update-status-submit.do?billId=${bill.billId}">提交对账</a></span>
								#end
								#if(${bill.billStatus}==2)
                                <span><a href="/bill/bill-update-status-finish.do?billId=${bill.billId}">对账完成</a></span>
								#end
                            </div>
                        </div>
                    </div>
                </div>
                <!--右侧内容结束-->
                <!--左侧内容开始-->
               <div class="col-sub">
                    <div class="mod-menu">
                        <div class="header">
                            <h2>优库结算系统</h2>
                        </div>
                        <div class="content">
                            <dl class="menu-item">
								#if(${user.getUserPrivliages().contains(1)})
                                <dd class="menu-item menu-nodes current">
                                    <a href="" class="node">优库结算账单</a>
                                    <ul class="">
                                        <li class="current"><a href="/bill/bill-index.do" class="node">结算账单管理</a></li>
                                        <li ><a href="/bill/bill-add-index.do" class="node">添加账单生成任务</a></li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(2)})
                                <dd class="menu-item menu-nodes">
                                    <a href="#" class="node">优库结算报表</a>
                                    <ul class="">
                                        <li >
                                            <a href="/report/report-index.do" class="node">报表管理</a>
                                        </li>
										<li>
                                            <a href="/report/report-add-view.do" class="node">新添报表</a>
                                        </li>
										<li>
                                            <a href="/report-detail/report-detail-index.do" class="node">报表进度管理</a>
                                        </li>
                                        <li >
                                            <a href="/report-detail/report-detail-add-index.do" class="node">添加报表生成任务</a>
										</li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(3)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">优库数据记录</a>
                                    <ul>
                                        <li>
                                            <a href="/fieldwarm/field-warm-enable-manage-index.do" class="node">数据记录管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(4)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">项目收费配置</a>
                                    <ul class="mt-menu-sub-content">
                                        <li>
                                            <a href="/project/project-subject-index.do" class="node">项目收费配置管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(5)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">优库收费科目</a>
                                    <ul>
                                        <li >
                                            <a href="/subject/subject-index.do" class="node">收费科目管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(6)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">优库字段管理</a>
                                    <ul>
                                        <li><a href="/field/field-index.do" class="node">字段管理</a></li>
                                        <li>
                                            <a href="/fieldwarm/field-warm-index.do" class="node" >提醒管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
								#if(${user.getUserPrivliages().contains(7)})
                                <dd class="menu-nodes fold">
                                    <a href="#" class="node">系统管理功能</a>
                                    <ul>
                                        <li >
                                            <a href="/user/user-index.do" class="node">用户管理</a>
                                        </li>
                                        <li >
                                            <a href="/role/role-index.do" class="node" >角色管理</a>
                                        </li>
                                        <li >
                                            <a href="/project/project-index.do" class="node" >项目管理</a>
                                        </li>
                                    </ul>
                                </dd>
								#end
                            </dl>
                        </div>
                    </div>
                </div>
                <!--左侧菜单结束-->
            </div>
        </div>
    </div>
    <!--footer start-->
    <div class="footer clearfix" id="footer">
        <div class="layout">
            <div class="grid">
                <div class="mod-footer">
                    <div class="content">
                        <p>©2012 800best.com 版权所有 ICP证: 浙B2-20070189</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--footer end-->
    <div class="mod-dialog hide">
        <div class="header">
            <span class="close"></span>
        </div>
        <div class="content">
            <span class="tip">您好，账单对账完成！</span><br/><br/>
            <span class="button">确定</span><br/><br/>
        </div>
    </div>
    <div class="mod-dialog hide">
        <div class="header has-title">
            <span class="title">请选择导出【项目名称】的【报表名称】</span>
            <span class="close"></span>
        </div>
        <div class="content">
            <div class="border-bottom">
                <span class="name">方式一</span>
                <button class="open-direct">直接打开</button>
            </div>
            <div>
                <span class="name">方式二</span>
                <span class="save">保存</span>
                <input type="text" value="默认桌面"/>
                <button>浏览</button>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/pages/menu.js"></script>
</body>
</html>